In [ ]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Generar datos aleatorios
categorias = ['Electrónica', 'Ropa', 'Hogar y Cocina', 'Libros', 'Juguetes']
productos = {
    'Electrónica': ['Laptop', 'Smartphone', 'Auriculares'],
    'Ropa': ['Camisa', 'Jeans', 'Chaqueta'],
    'Hogar y Cocina': ['Licuadora', 'Tostadora', 'Microondas'],
    'Libros': ['Ficción', 'No ficción', 'Cómics'],
    'Juguetes': ['Figura de acción', 'Juego de mesa', 'Muñeca']
}

datos = []
fecha_inicio = datetime(2023, 1, 1)
for _ in range(100):  # Generar 100 filas de datos
    fecha = fecha_inicio + timedelta(days=random.randint(0, 365))
    categoria = random.choice(categorias)
    producto = random.choice(productos[categoria])
    ventas = random.randint(1, 100)
    datos.append([fecha.strftime('%Y-%m-%d'), categoria, producto, ventas])

# Crear DataFrame
df = pd.DataFrame(datos, columns=['Fecha', 'Categoría', 'Producto', 'Ventas'])

# Guardar en CSV
df.to_csv('ventas_productos.csv', index=False)

print("Dataset creado y guardado en ventas_productos.csv")


#leemos el csv
df1 = pd.read_csv('ventas_productos.csv')


#vemos el contenido de df1
df1.head()

Dataset creado y guardado en ventas_productos.csv

        Fecha    Categoría     Producto  Ventas
0  2023-05-02       Libros   No ficción       2
1  2023-12-19  Electrónica   Smartphone      89
2  2023-07-07         Ropa     Chaqueta      80
3  2023-12-11  Electrónica  Auriculares      39
4  2023-05-16         Ropa       Camisa      18

In [ ]:

# Convertir la columna Fecha a tipo datetime
df1['Fecha'] = pd.to_datetime(df1['Fecha'])

# Extraer el mes en una nueva columna
df1['Mes'] = df1['Fecha'].dt.month

#vemos el nuevo contenido de df1
df1.head()

       Fecha    Categoría     Producto  Ventas  Mes
0 2023-05-02       Libros   No ficción       2    5
1 2023-12-19  Electrónica   Smartphone      89   12
2 2023-07-07         Ropa     Chaqueta      80    7
3 2023-12-11  Electrónica  Auriculares      39   12
4 2023-05-16         Ropa       Camisa      18    5

In [ ]:

# Agrupar por categoría y mes y calcular la suma de ventas
df_grouped = df1.groupby(['Categoría', 'Mes']).agg({'Ventas': 'sum'}).reset_index()

print(df_grouped)

         Categoría  Mes  Ventas
0      Electrónica    2      65
1      Electrónica    3      77
2      Electrónica    4      20
3      Electrónica    6      16
4      Electrónica    7     172
5      Electrónica    9     210
6      Electrónica   11      63
7      Electrónica   12     265
8   Hogar y Cocina    1     182
9   Hogar y Cocina    2     108
10  Hogar y Cocina    3      71
11  Hogar y Cocina    4      29
12  Hogar y Cocina    5      80
13  Hogar y Cocina    7     406
14  Hogar y Cocina    9       8
15  Hogar y Cocina   10       7
16  Hogar y Cocina   11       6
17  Hogar y Cocina   12      56
18        Juguetes    2     181
19        Juguetes    3      74
20        Juguetes    4     212
21        Juguetes    5     208
22        Juguetes    6      64
23        Juguetes    8      31
24        Juguetes    9      39
25        Juguetes   10     112
26        Juguetes   11      16
27        Juguetes   12     209
28          Libros    1     166
29          Libros    2      92
30          Libros    3      99
31          Libros    4      55
32          Libros    5     226
33          Libros    6      81
34          Libros    7      69
35          Libros    8      83
36          Libros   12      42
37            Ropa    2      96
38            Ropa    3     135
39            Ropa    5      18
40            Ropa    6     185
41            Ropa    7      80
42            Ropa    8     187
43            Ropa    9      86
44            Ropa   10     109
45            Ropa   11      27
46            Ropa   12      12

In [ ]:

# Pivotar el resultado para que las categorías estén en filas y los meses en columnas
df_pivoted = df_grouped.pivot(index='Categoría', columns='Mes', values='Ventas').fillna(0)

print(df_pivoted)

Mes                1      2      3      4      5      6      7      8      9   \
Categoría
Electrónica       0.0   65.0   77.0   20.0    0.0   16.0  172.0    0.0  210.0
Hogar y Cocina  182.0  108.0   71.0   29.0   80.0    0.0  406.0    0.0    8.0
Juguetes          0.0  181.0   74.0  212.0  208.0   64.0    0.0   31.0   39.0
Libros          166.0   92.0   99.0   55.0  226.0   81.0   69.0   83.0    0.0
Ropa              0.0   96.0  135.0    0.0   18.0  185.0   80.0  187.0   86.0

Mes                10    11     12
Categoría
Electrónica       0.0  63.0  265.0
Hogar y Cocina    7.0   6.0   56.0
Juguetes        112.0  16.0  209.0
Libros            0.0   0.0   42.0
Ropa            109.0  27.0   12.0

In [ ]:
#exportamos el dataframe pivotado como reporte_categorias.csv
df_pivoted .to_csv("reporte_categorias.csv", index=False)

In [ ]:
import random
from datetime import datetime, timedelta

# Generar datos aleatorios para el primer dataset
segmentos = ['A', 'B', 'C']
datos_usuarios = []
fecha_inicio = datetime(2023, 1, 1)
for user_id in range(1, 101):  # Generar 100 filas de datos
    segmento = random.choice(segmentos)
    registro_fecha = fecha_inicio + timedelta(days=random.randint(0, 365))
    datos_usuarios.append([user_id, segmento, registro_fecha.strftime('%Y-%m-%d')])

# Crear DataFrame para el primer dataset
df_usuarios = pd.DataFrame(datos_usuarios, columns=['user_id', 'segmento', 'registro_fecha'])

# Guardar en CSV
df_usuarios.to_csv('usuarios.csv', index=False)

# Generar datos aleatorios para el segundo dataset
datos_compras = []
for compra_id in range(1, 201):  # Generar 200 filas de datos
    user_id = random.randint(1, 100)
    monto = round(random.uniform(10, 1000), 2)
    datos_compras.append([user_id, compra_id, monto])

# Crear DataFrame para el segundo dataset
df_compras = pd.DataFrame(datos_compras, columns=['user_id', 'compra_id', 'monto'])

# Guardar en CSV
df_compras.to_csv('compras.csv', index=False)

print("Datasets creados y guardados en usuarios.csv y compras.csv")

Datasets creados y guardados en usuarios.csv y compras.csv

In [ ]:

# Cargar los datasets
df_usuarios = pd.read_csv('usuarios.csv')
df_compras = pd.read_csv('compras.csv')

# Unir los datasets utilizando merge() por user_id
df_merged = pd.merge(df_usuarios, df_compras, on='user_id')

# Guardar el resultado en un nuevo archivo CSV
df_merged.to_csv('usuarios_compras.csv', index=False)

#mostramos el dataset
print(df_merged.head())


print("Datasets unidos y guardados en usuarios_compras.csv")

   user_id segmento registro_fecha  compra_id   monto
0        2        C     2023-07-21         72   91.59
1        2        C     2023-07-21        130  945.35
2        3        A     2023-04-07         98  658.33
3        3        A     2023-04-07        168  851.49
4        3        A     2023-04-07        178  369.64
Datasets unidos y guardados en usuarios_compras.csv

In [ ]:

# Agrupar por segmento y contar la cantidad de compras realizadas
df_segmento_compras = df_merged.groupby('segmento').agg({'compra_id': 'count'}).reset_index()
df_segmento_compras.rename(columns={'compra_id': 'cantidad_compras'}, inplace=True)

print(df_segmento_compras)

  segmento  cantidad_compras
0        A                61
1        B                60
2        C                79

In [ ]:

# Agrupar por segmento y calcular la cantidad de compras realizadas y el monto total gastado
df_segmento_compras = df_merged.groupby('segmento').agg(cantidad_compras=('compra_id', 'count'), monto_total=('monto', 'sum')).reset_index()

print(df_segmento_compras)

  segmento  cantidad_compras  monto_total
0        A                61     31155.03
1        B                60     30138.35
2        C                79     37299.33

In [ ]:

# Ordenar los resultados de mayor a menor cantidad de compras
df_segmento_compras_sorted = df_segmento_compras.sort_values(by='cantidad_compras', ascending=False)

print(df_segmento_compras_sorted)

  segmento  cantidad_compras  monto_total
2        C                79     37299.33
0        A                61     31155.03
1        B                60     30138.35