1. Carga y exploración de datos:


○ Importa un dataset en formato CSV en un DataFrame.

○ Inspecciona los datos con .head(), .info() y .describe().

○ Identifica valores nulos y duplicados.

In [18]:
import pandas as pd


# archivo a utilizar
archivo = 'my_file.csv'

# cargamos el dataset
df = pd.read_csv(archivo, encoding='cp1252')

#exploracion inicial
print(df.head())

   Rank  Peak All Time Peak ActualÂ gross AdjustedÂ gross (in 2022 dollars)  \
0     1     1             2  $780,000,000                      $780,000,000
1     2     1          7[2]  $579,800,000                      $579,800,000
2     3  1[4]          2[5]  $411,000,000                      $560,622,615
3     4  2[7]         10[7]  $397,300,000                      $454,751,555
4     5  2[4]           NaN  $345,675,146                      $402,844,849

         Artist                     Tour title      Year(s)  Shows  \
0  Taylor Swift              The Eras Tour â€   2023â€“2024     56
1      BeyoncÃ©         Renaissance World Tour         2023     56
2       Madonna  Sticky & Sweet Tour â€¡[4][a]  2008â€“2009     85
3          Pink    Beautiful Trauma World Tour  2018â€“2019    156
4  Taylor Swift        Reputation Stadium Tour         2018     53

  Average gross Ref.
0   $13,928,571  [1]
1   $10,353,571  [3]
2    $4,835,294  [6]
3    $2,546,795  [7]
4    $6,522,173  [8]

In [19]:
#verificamos valores nulos
print(df.isnull().sum())

Rank                                  0
Peak                                 11
All Time Peak                        14
ActualÂ gross                         0
AdjustedÂ gross (in 2022 dollars)     0
Artist                                0
Tour title                            0
Year(s)                               0
Shows                                 0
Average gross                         0
Ref.                                  0
dtype: int64

In [20]:
#verificamos duplicados
print(df.duplicated().sum())

0

In [21]:
#revisamos el tipo de las columnas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Rank                               20 non-null     int64
 1   Peak                               9 non-null      object
 2   All Time Peak                      6 non-null      object
 3   ActualÂ gross                      20 non-null     object
 4   AdjustedÂ gross (in 2022 dollars)  20 non-null     object
 5   Artist                             20 non-null     object
 6   Tour title                         20 non-null     object
 7   Year(s)                            20 non-null     object
 8   Shows                              20 non-null     int64
 9   Average gross                      20 non-null     object
 10  Ref.                               20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

In [23]:
print(df.columns.tolist())

['Rank', 'Peak', 'All Time Peak', 'ActualÂ\xa0gross', 'AdjustedÂ\xa0gross (in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)', 'Shows', 'Average gross', 'Ref.']

In [24]:
import re

# Función para limpiar valores como '1[4]' → '14', '10[7]' → '107'
def limpiar_valor(valor):
    if isinstance(valor, str):
        match = re.match(r'(\d+)\[(\d+)\]', valor)
        if match:
            return int(match.group(1) + match.group(2))
        elif valor.isdigit():
            return int(valor)
    return None  # o valor original si prefieres

# Aplicar sobre la columna correspondiente
df['Peak_Limpio'] = df['Peak'].apply(limpiar_valor)

print(df[['Peak', 'Peak_Limpio']].head())

   Peak  Peak_Limpio
0     1          1.0
1     1          1.0
2  1[4]         14.0
3  2[7]         27.0
4  2[4]         24.0

In [25]:
# Aplicar sobre la columna correspondiente
df['Peak_all_time_Limpio'] = df['All Time Peak'].apply(limpiar_valor)

print(df[['All Time Peak', 'Peak_all_time_Limpio']].head())

  All Time Peak  Peak_all_time_Limpio
0             2                   2.0
1          7[2]                  72.0
2          2[5]                  25.0
3         10[7]                 107.0
4           NaN                   NaN

In [26]:
df.head()

,Rank,Peak,All Time Peak,ActualÂ gross,AdjustedÂ gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,Peak_Limpio,Peak_all_time_Limpio
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â€,2023â€“2024,56,"$13,928,571",[1],1.0,2.0
1,2,1,7[2],"$579,800,000","$579,800,000",BeyoncÃ©,Renaissance World Tour,2023,56,"$10,353,571",[3],1.0,72.0
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â€¡[4][a],2008â€“2009,85,"$4,835,294",[6],14.0,25.0
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018â€“2019,156,"$2,546,795",[7],27.0,107.0
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8],24.0,NaN

In [28]:
#eliminamos las columnas Peak y All Time Peak

df.drop(['Peak','All Time Peak'], axis=1, inplace=True)

In [29]:
#mostramos las columnas nuevamente
df.head()

,Rank,ActualÂ gross,AdjustedÂ gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,Peak_Limpio,Peak_all_time_Limpio
0,1,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â€,2023â€“2024,56,"$13,928,571",[1],1.0,2.0
1,2,"$579,800,000","$579,800,000",BeyoncÃ©,Renaissance World Tour,2023,56,"$10,353,571",[3],1.0,72.0
2,3,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â€¡[4][a],2008â€“2009,85,"$4,835,294",[6],14.0,25.0
3,4,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018â€“2019,156,"$2,546,795",[7],27.0,107.0
4,5,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8],24.0,NaN

In [30]:
#exportamos a csv
df.to_csv("datos_limpios.csv", index=False)

#exportamos a excel
df.to_excel("datos_limpios.xlsx", index=False)